# Python Crash Course (I)

**This notebook is just a code reference for the lectures**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
____

## Data types

### Numbers

In [6]:
1 + 1

2

In [7]:
1 * 3

3

In [21]:
3 / 2

1.5

In [22]:
3 // 2

1

In [9]:
2 ** 4

16

In [10]:
4 % 2

0

In [11]:
5 % 2

1

In [14]:
(2 + 3) * (5 + 5)

50

### Comments

In [2]:
# This is a single line comment

"""
Tre quotes are used for multi-line strings,
often used as multi-line comments or documentation
"""

1 + 1  # we can add comments at the end of a line

### Variable Assignment

We can associate names to values to easily refer to them.

In [13]:
# Can not start with number or special characters
name_of_var = 2

In [4]:
x = 2
y = 3

In [5]:
z = x + y

In [15]:
z

5

In [18]:
googol = 10 ** 100
googol

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [7]:
# python is dynamically typed, so this is possible
x = 2
x = 'hello'

### Strings

* They can be placed inside apices (`'hello'`) or quotes (`"hello"`).
* The escape character is `\`, so you can do `'I\'m'` or `"I'm"`.

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [24]:
"wrap lot's of other quotes"

"wrap lot's of other quotes"

In [26]:
# You can check the length of things with
s = "hello"
len(s)

5

### Printing

In [20]:
x = 'hello'

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [28]:
num = 12
name = 'Sam'

In [31]:
print('My number is: {one}, and my name is: {two}'.format(one=num, two=name))

My number is: 12, and my name is: Sam

In [32]:
print('My number is: {}, and my name is: {}'.format(num, name))

My number is: 12, and my name is: Sam

In [35]:
# For reference also a C-like syntax ia accepted
print("My number is %d, and my name is %s" % (num, name))

My number is 12, and my name is Sam

### Booleans

They can only be `True` or `False`

In [40]:
True

True

In [41]:
False

False

### List

- A list contains an ordered sequence of elements
- A list is **mutable**: they can be altered (insertion, deletion, updates)

In [26]:
[1, 2, 3]

[1, 2, 3]

In [27]:
['hi', 1, [1, 2]]

['hi', 1, [1, 2]]

In [10]:
my_list = ['a', 'b', 'c']

In [11]:
my_list.append('d')

In [12]:
my_list

['a', 'b', 'c', 'd']

In [13]:
my_list[0]

'a'

In [14]:
my_list[1]

'b'

In [15]:
my_list[-1]

'd'

#### Slicing

---

 >      +---+---+---+---+---+---+
 >      | P | y | t | h | o | n |
 >      +---+---+---+---+---+---+
 >      0   1   2   3   4   5   6
 >     -6  -5  -4  -3  -2  -1
 
 The syntax is `[from:to]`

In [16]:
my_list[1:3]  # this is called slicing (from included, to excluded)

['b', 'c']

In [17]:
my_list[1:]   # if "to" is not provided, it's until the end

['b', 'c', 'd']

In [18]:
my_list[:2]   # if "from" is not provided, it's from the beginning

['a', 'b']

In [19]:
my_list[0] = 'NEW'  # list elements can be overrided

In [98]:
my_list

['NEW', 'b', 'c', 'd']

In [99]:
nest = [1, 2, 3, [4, 5, ['target']]]

In [100]:
nest[3]

[4, 5, ['target']]

In [101]:
nest[3][2]

['target']

In [102]:
nest[3][2][0]

'target'

### Dictionaries

- They can associate **keys** to **values**
- They make it possible to easily retrieve the value by accessing the data using the key

In [44]:
d = {'key1': 'item1', 'key2': 'item2'}
d

{'key1': 'item1', 'key2': 'item2'}

In [46]:
d['key1']

'item1'

In [48]:
d['key3'] = 'item3'
d

{'key1': 'item1', 'key2': 'item2', 'key3': 'item3'}

### Tuples 

- A tuple is a group of elements
- Similar to a list, but it is **not mutable**

In [42]:
t = (1, 2, 3)

In [43]:
t[0]

1

In [44]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

- Unordered set of elements without duplicates.
- They support operations such as union, intersection, difference

In [35]:
a = {1, 2, 3}
a

{1, 2, 3}

In [38]:
b = {2, 3, 4, 2, 4, 2, 3, 3, 3, 3, 2, 2, 2, 4, 5, 2}
b

{2, 3, 4, 5}

In [40]:
a.intersection(b)

{2, 3}

In [42]:
a.union(b)

{1, 2, 3, 4, 5}

In [49]:
a.difference(b)

{1}

### When to use a list, a tuple, a set, or a dictionary?
---

* **list**: the order is preserved, they can contain duplicates, mutable
* **tuple**: the order is preserved, immutable
* **set**: no order, mutable, *inclusion checks are extremely fast*
* **dictionary**: no order, mutable, any type of keys

## Comparison Operators

In [47]:
1 > 2

False

In [11]:
1 < 2.5

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [9]:
'hi' == 'bye'

False

In [10]:
'a' > 'b'

False

## Logic Operators

In [53]:
(1 > 2) and (2 < 3)

False

In [54]:
(1 > 2) or (2 < 3)

True

In [12]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [13]:
not (2 < 3)

False

## `if`, `elif`, `else` Statements

In [56]:
if 1 < 2:
    print('Yep!')

Yep!

In [57]:
if 1 < 2:
    print('yep!')

yep!

In [58]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [60]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [21]:
seq = [1, 2, 3, 4, 5]

In [22]:
for item in seq:
    print(item)

1
2
3
4
5

In [23]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [24]:
for jelly in seq:
    print(jelly + jelly)

2
4
6
8
10

In [25]:
for item in range(10):
    if item % 2 == 0:
        continue  # terminates the execution for the current value
    if item % 7 == 0:
        break     # terminates the loop
    print(item)

1
3
5

## while Loops

In [65]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [66]:
range(5)

range(0, 5)

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
list(range(5))

[0, 1, 2, 3, 4]

## List comprehension

Python simplifies the generation of lists from other lists by avoiding the for loop.

In [31]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
out = []
for item in x:
    out.append(item ** 2)
print(out)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
[item ** 2 for item in x]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
[item ** 2 for item in x if item % 2 == 0]

[4, 16, 36, 64]