# Python Crash Course (II)

* functions
* lambda expressions
* map and filter
* methods
____

## Functions

- Sequence of instruction
- zero or more inputs, one output

In [1]:
def my_func(param1='default'):
    """
    Documentation goes here.
    """
    print(param1)

In [2]:
my_func

In [3]:
my_func()

default

In [4]:
my_func('new param')

new param

In [5]:
my_func(param1='new param')

new param

In [6]:
def square(x):
    return x ** 2

In [7]:
out = square(2)

In [8]:
print(out)

4

## lambda expressions

In [9]:
def times2(var):
    return var * 2

In [10]:
times2(2)

4

In [11]:
lambda var: var*2

## map and filter

In [12]:
seq = [1, 2, 3, 4, 5]

In [13]:
map(times2, seq)

In [14]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [15]:
list(map(lambda var: var * 2, seq))

[2, 4, 6, 8, 10]

In [16]:
filter(lambda item: item % 2 == 0, seq)

In [17]:
list(filter(lambda item: item % 2 == 0, seq))

[2, 4]

## methods

In [18]:
st = 'hello my name is Enrico'

In [19]:
st.lower()

'hello my name is enrico'

In [20]:
st.upper()

'HELLO MY NAME IS ENRICO'

In [21]:
st.split()

['hello', 'my', 'name', 'is', 'Enrico']

In [22]:
tweet = 'Go Sports! #Sports'

In [23]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [24]:
tweet.split('#')[1]

'Sports'

In [25]:
d = {'a': 1, 'b': 2}

In [26]:
d.keys()

dict_keys(['a', 'b'])

In [27]:
d.items()

dict_items([('a', 1), ('b', 2)])

In [28]:
lst = [1, 2, 3]

In [29]:
lst.pop()

3

In [30]:
lst

[1, 2]

In [31]:
'x' in [1, 2, 3]

False

In [32]:
'x' in ['x', 'y', 'z']

True